:root{
  --side-boton: 40px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blue;
  }
.game-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.container-canvas {
  grid-column: 1/3;
  grid-row: 2/8;
}
canvas {
  background-color: #ffffff;
}
.messages {
}
p {
  display: block;
  margin: 0;
  width: 100%;
}
@media (max-width: 1000px) {
  .game-container {
  }
}
@media (max-width: 580px) {
  .game-container {

  }
}